fastapi
uvicorn[standard]
soundfile
librosa
numpy
pydantic[email]
python-multipart
pymongo
gunicorn
PyJWT
bcrypt
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
google-auth
reportlab
torch
ffmpeg-python
imageio[ffmpeg]